<!DOCTYPE html>
<html>
	<head></head>

<body>
<div style="text-align:center;">
		<h2>Welcome to T-Blog</h2>
	<a href="/login" class="myButton">LOGIN</a>
		<a href="/signup" class="myButton">SIGNUP</a>
	</div>

</body>	
</html
