<h1>Add Post</h1>
	
<div id="post">

	<form method="POST" action="/newpost">
		
		<input type="text" name="title" class="title" placeholder="Title">
		<br>
		<br>
		<textarea name="text" class="blogText" placeholder="Message"></textarea>
		<br>
		<br>
		<input type="submit">
	</form>	
</div>